<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
        <title>ROTMG - Collection tracker</title>
        <!--linking a stylesheet for larger screen as well as one for smaller screens-->
        <link rel="stylesheet" href="style.css">
		<script src="javascript.js"></script>
    </head>
</html>
<body>
    
    <nav class="navigationWrap">
      <!--setting a logo for the website, responsive class will cause logo
          to not be bigger than the navigation bar -->  
        <logo class="logo_responsive">
            <img class="responsive" src="./logo-test1.jpg" />
        </logo>
        <!--start of the links. The navigation class uses flex to display the items in a row-->
    <ul class="navigation">
        <li class="parent"><a class="link" href="./index.html">Home</a></li>
        <!--new div for the dropdown link-->
        <div class="dropdown">
           <li class="parent"><a class="link" href="#">Collections</a></li> 
            <div class="dropdown-content">
                <a class="link" href="./weapons.html">Weapons</a>
                <a class="link" href="./armor.html">Armor</a>
                <a class="link" href="./rings.html">Rings</a>
                <a class="link" href="./abilities.html">Abilities</a>
            </div>
        </div>
        <li class="parent"><a class="link" href="#">Contact</a></li>
        <li class="parent"><a class="link" href="./About.html">About</a></li>
        <li class="parent"><a class="link" href="./login.html">Login</a></li>
    </ul>
    </nav>
    <br>
    <h3>Contact us regarding bugs or other questions:</h3>
    <div class="center_time">
    <div id="email">
        <input v-model="message" placeholder="email" id="login_input" />
        <p>Email: {{ message }}</p>
  </div>
  <script>
      var app = new Vue({
          el: '#email',
          data: {
              message: ''
          }
      })
      </script>
      <br><br>
      <div id="topic">
          <input v-model="message" placeholder="Topic" id="login_input" />
          <p>Topic : {{ message }}</p>
      </div>
      <script>
      var app = new Vue({
          el: '#topic',
          data: {
              message: ''
          }
      })  
      </script>
      <br>
      <div id="message">
        <input placeholder="Message" id="message_input"/>
    </div>
      <br><br>
      <button id="login_button">Send</button>