
    #button_1 {
        position: absolute;
        left: 181px;
        top: 216px;
        width: 60px;
        height: 60px;
        background-color: transparent;
        border: none;
      }
  
      #button_2 {
        position: absolute;
        left: 241px;
        top: 216px;
        width: 60px;
        height: 60px;
        background-color: transparent;
        border: none;
      }

      #button_3 {
        position: absolute;
        left: 301px;
        top: 216px;
        width: 60px;
        height: 60px;
        background-color: transparent;
        border: none;
      }

      #button_4 {
        position: absolute;
        left: 361px;
        top: 216px;
        width: 60px;
        height: 60px;
        background-color: transparent;
        border: none;
      }

      #button_5 {
        position: absolute;
        left: 421px;
        top: 216px;
        width: 60px;
        height: 60px;
        background-color: transparent;
        border: none;
      }

      #button_6 {
        position: absolute;
        left: 481px;
        top: 216px;
        width: 60px;
        height: 60px;
        background-color: transparent;
        border: none;
      }

      #button_7 {
        position: absolute;
        left: 541px;
        top: 216px;
        width: 60px;
        height: 60px;
        background-color: transparent;
        border: none;
      }

      #button_8 {
        position: absolute;
        left: 601px;
        top: 216px;
        width: 60px;
        height: 60px;
        background-color: transparent;
        border: none;
      }

      #button_9 {
        position: absolute;
        left: 661px;
        top: 216px;
        width: 60px;
        height: 60px;
        background-color: transparent;
        border: none;
      }
      
      #button_10 {
        position: absolute;
        left: 721px;
        top: 216px;
        width: 60px;
        height: 60px;
        background-color: transparent;
        border: none;
      }

      #button_11 {
        position: absolute;
        left: 781px;
        top: 216px;
        width: 60px;
        height: 60px;
        background-color: transparent;
        border: none;
      }

      #button_12 {
        position: absolute;
        left: 841px;
        top: 216px;
        width: 60px;
        height: 60px;
        background-color: transparent;
        border: none;
      }

      #button_13 {
        position: absolute;
        left: 901px;
        top: 216px;
        width: 60px;
        height: 60px;
        background-color: transparent;
        border: none;
      }

      #button_14 {
        position: absolute;
        left: 961px;
        top: 216px;
        width: 60px;
        height: 60px;
        background-color: transparent;
        border: none;
      }